<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div>
    <input type="text" placeholder="Seu nome" formControlName="name" />
    <p
      *ngIf="errors.name?.['required'] && registerForm.get('name')?.value !== null"
    >
      O nome é obrigatório
    </p>
    <p *ngIf="errors.name?.['minlength']">
      O nome precisa conter pelo menos 3 caracteres
    </p>
  </div>

  <div>
    <input type="email" placeholder="Seu e-mail" formControlName="email" />
    <p
      *ngIf="errors.email?.['required'] && registerForm.get('email')?.value !== null"
    >
      O e-mail é obrigatório
    </p>
    <p *ngIf="errors.email?.['email']">Forneça um e-mail válido</p>
  </div>

  <div>
    <input
      type="password"
      placeholder="Crie uma senha"
      formControlName="password"
    />
    <p
      *ngIf="errors.password?.['required'] && registerForm.get('password')?.value !== null"
    >
      A senha é obrigatória
    </p>
    <p *ngIf="errors.password?.['minlength']">
      O nome precisa conter pelo menos 8 caracteres
    </p>
    <p *ngIf="errors.password?.['pattern']">
      A senha precisar conter pelo menos uma letra maiúscula, uma letra
      minúscula e um número.
    </p>
  </div>

  <button type="submit">Enviar</button>
</form>
